.section-container {
    height: auto;

    .sections {
        &:nth-child(2n+1){
            background-color: azure;
        }
        height: 100vh;
        .section-heading {
            font-size: larger;
            font-weight: 700;
            text-decoration: solid;
            text-align: center;
        }
    }
}